/************* Only variables here *************/
/************* Only variables here *************/
/************* Only variables here *************/
/************* Only variables here *************/
/************* Only variables here *************/


$roboto : 'Roboto', sans-serif;
$color_menu: #181c1f;
$white_border: 1px solid #FFF;
$black_gray: #1F1F21;
$light_red: #E72C2C;
$high_blue: #1D2BB8;
$light_blue: #2196F3;
$green: #36CD5F;
$light_green: #43EC7C;
$light_black: #171718;
$light_orange: #F5A415;
$very_light_gray : #FAFAFA;



